# This files defines code ownership.
# We start with defining ownership globally and later on can get more granular.

# General content
* @renejeglinsky

node.js/ @smahati @renejeglinsky
java/    @smahati @renejeglinsky

# Infra
.github/    @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann
public/     @chgeo @swaldmann

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json
