# This files defines code ownership.
# We start with defining ownership globally and later on can get more granular.

# General content
* @smahati @danjoa

node.js/ @smahati @danjoa
java/    @smahati @danjoa
tools/   @chgeo @swaldmann @smahati

# Infra
.github/    @chgeo @swaldmann
.vitepress/ @chgeo @swaldmann @danjoa
public/     @chgeo @swaldmann @danjoa

# allow dependencies updates through renovate w/o code owners
package.json
package-lock.json
