//////////////////////////////////////////////////////////////////////////////
// 
//   Custom CSS styles for VitePress documentation site.
//   Based on default variables from VitePress:
//   https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
// 
//////////////////////////////////////////////////////////////////////////////



html {
  &.java .node { display: none; }
  &.node .java { display: none; }
}



// ------------------------------------------------------------
// Common variables

:root {

  --vp-font-family-avenir: 'Avenir Next', var(--vp-font-family-base);

  // Layout sizes
  // .VPContent .aside { max-width: 270px};
  --vp-sidebar-width: 300px;
  --vp-nav-height: 44px;

  // Brand colors
  --vp-c-brand-1: #088;
  --vp-c-brand-2: #077;
  --vp-c-brand-3: #0cc;
  --vp-c-brand-soft: rgba(16, 179, 185, 0.16);

  &.dark {
    --vp-c-brand-1: var(--vp-c-yellow-2);
    --vp-c-brand-2: var(--vp-c-yellow-2);
    --vp-c-brand-3: var(--vp-c-yellow-3);
    --vp-c-brand-soft: var(--vp-c-yellow-soft);
    --vp-button-brand-hover-bg: var(--vp-c-yellow-1);
  }

  // Button colors
  --vp-button-brand-active-text: var(--vp-c-text-1);
  --vp-button-brand-active-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-text: var(--vp-c-bg);
  --vp-button-brand-hover-bg: var(--vp-c-brand-1);
  --vp-button-brand-text: var(--vp-c-bg);
  --vp-button-brand-bg: var(--vp-c-brand-2);
  --vp-button-alt-active-text: var(--vp-c-text-1);
  --vp-button-alt-active-bg: var(--vp-c-brand-3);
  --vp-button-alt-hover-text: var(--vp-c-bg);
  --vp-button-alt-hover-bg: var(--vp-c-brand-2);

  // Search colors: using standard search highlight color (instead of our brand orange)
  --vp-local-search-highlight-bg: mark;
  --vp-local-search-highlight-text: black;
}




// ------------------------------------------------------------
// Fonts and layout


.VPHome { font-family: var(--vp-font-family-avenir); }
.VPHero .tagline { font-weight: 400 }
.VPHero .name, main .vp-doc h1 { 
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(-60deg,#098 20%,#fa0 50%);
  background-clip: text;
  font-weight: 600;
  font-size: 48px;
  font-family: var(--vp-font-family-avenir);
}


// Styling for documentation panes
main .vp-doc {
  
  // Table of Contents
  nav.table-of-contents {
    line-height: 150%;
    margin: 44px;
    &::before {
      content: 'Table of Contents';
      font-size: 111%;
      font-weight: 500;
    }
    ul ul {
      padding: 7px 22px;
      li {
        list-style-type: circle;
        font-size: 95%;
        line-height: 120%;
      }
    }
  }


  // font-family: var(--vp-font-family-avenir);
  h1, h2, h3, h4, h5 { 
    font-family: var(--vp-font-family-avenir);
    .header-anchor { top: auto } // undo the hard-wired 24px of vitepress
  }


  h1 { 
    line-height: 1.2em; margin: 1em 0 1em;
    + .subtitle {
      color: var(--vp-c-text-2);
      margin: -44px 0 48px;
      font-size: 1.7em;
      font-weight: 400;
    }
    p + & { margin-top: 3em; }
  }

  p.abstract {
    color: var(--vp-c-text-2);
    font-size: 123%;
  }
  h2 { font-size: 24px; margin: 4em 0 2em; padding-top: 12px; }
  h3 { font-size: 20px; margin: 3em 0 1em; 
    margin-bottom: 0em; // reduce margin-bottom to group series of h3 together
    & + p { margin-top: 1.5em; }
  }
  h4 { font-size: 17px; margin: 2em 0 1em; 
    margin-bottom: 0em; // reduce margin-bottom to group series of h4 together
    & + p { margin-top: 1.1em; }
  }

  h6 { 
    // we use h6 for alternative anchor targets
    color: transparent; 
    position: absolute; 
    left:0px; 
    margin-top:0px; 
  } 

  p {
    line-height: 1.5em
  }
  
  ol {
    padding-left: 2.5em;
  }

  // Custom list styles for nested items
  ul {
    padding-left: 2.5em;
    list-style-type: disc; // First level: filled circle
    ul {
      list-style-type: circle; // Second level: empty circle
      ul {
        list-style-type: square; // Third level: square
      }
    }
  }

  sup {
    line-height: 0px; // remove the space between the line and the superscript
    font-size: 80%;
    font-weight: 600;
    color: #777;
  }

  kbd {
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    line-height: 10px;
    vertical-align: middle;
    border: 1px solid var(--vp-c-divider);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 var(--vp-c-divider);
    position: relative;
    top: -1px;
    background: #f3f3f3;
    .dark & { background: #222 }
  }

  .cols-2 {
    display: flex;
    flex-wrap: wrap;
  }
  .cols-2 > * {
    width: 100%;
  }
  @media (min-width: 650px) {
    .cols-2 {
      gap: 1em;
    }
    .cols-2 > * {
      flex: 1;
      width: calc(100% / 2);
    }
  }



  a.learn-more, p.learn-more, .learn-more {
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 5px;
    display: block;
    &, & a {
      color: var(--vp-c-text-2);
      font-weight: 400;
      em {
        font-weight: 500;
      }
    };
    & a:hover {
      color: var(--vp-c-brand-1);
    }
    &::before {
      content: url('/learn-more.svg');
      vertical-align: middle;
      height: 20px;
      width: 20px;
      display: inline-block;
      margin-right: 5px;
    }
    + a.learn-more, + p.learn-more {
      margin-top: 7px;
    }
  }

  .indent {
    padding-left: 22px;
  }

  .best-practice::after { content: ' — Best Practice'; color: var(--vp-c-green-1); font-style: italic; }
  .anti-pattern::after { content: ' — Anti Pattern'; color: var(--vp-c-red-2); }
  .prefer::before { content: 'Prefer: '; color: var(--vp-c-green-1); }
  .avoid::before { content: 'Avoid: '; color: var(--vp-c-red-2); }

  .good, .green { color: var(--vp-c-green-1) };
  .bad, .red { color: var(--vp-c-red-2) }
  .dimmed { color: var(--vp-c-text-2) };

  .constructor::before { content: 'Constructor: '; color: var(--vp-c-text-2) }
  .annotation::before { content: 'Annotation: '; color: var(--vp-c-text-2) }
  .interface::before { content: 'Interface: '; color: var(--vp-c-text-2) }
  .property::before { content: 'Property: '; color: var(--vp-c-text-2) }
  .type::before { content: 'Type: '; color: var(--vp-c-text-2) }
  .method::before { content: 'Method: '; color: var(--vp-c-text-2) }
  .event::before { content: 'Event: '; color: var(--vp-c-text-2) }
  .class::before { content: 'Class: '; color: var(--vp-c-text-2) }
  .async-method::before { content: 'Method: async '; color: var(--vp-c-text-2) }
  .deprecated::after { content: ' – deprecated'; color: var(--vp-c-text-2) }
}



// Tables styling
main .vp-doc table {
  tr, th, td {
    background-color: var(--vp-c-bg);
  }
  td, th {
    border-color: #bbb; .dark & { border-color: #555 };
    border-right: none;
    border-left: none;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 1.5em;
  }

  // Hide empty table headers
  tr:has(> th:empty:first-child:last-child),
  tr:has(> th:empty:first-child:not(:last-child) + th:empty:last-child) {
    display: none;
  }
}
main .vp-doc span.centered table {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}



// Images & video adaptations
img, video.bright {
  main .vp-doc & { 
    margin: 30px auto; // center images and videos 
    .dark & { // recolor in dark mode
      filter: brightness(.884) invert(1) hue-rotate(177deg);
      &.ignore-dark { // class to skip recoloring
        filter: none !important;
      }
    }
  }
}



.VPBadge {
  &.tip { 
    background-color: #ced; color: #031; .dark & { 
      background-color: #031; color: #9ca; 
    } 
  }
  margin-top: 3px !important;
  padding: 0 0.7em !important;
  font-size: 80%;
  line-height: 1.5em; 
  border-radius: 1.5em;
  white-space: nowrap; 
}




// Menu Sidebar
.VPSidebar {
  .group {
    padding-top: 5px !important;
    .VPSidebarItem {
      &.level-0 {
        padding-bottom: 15px;
        &.collapsed {
          padding-bottom: 5px;
        }
        .text {
          font-weight: 500;
        }
      }
      &.level-1 {
        padding-left: 15px;
        h2, h3, p {
          padding: 2px 0;
        }
      }
    }
  }
}

// Outlines
.VPDocAside {
  ul.nested {
    li a { line-height: 1.9em !important; }
    padding: 0 0 0 20px;
  }
}


footer {
  div.last-updated {
    display: none;
  }
  div.edit-link {
    .edit-link-button {
      font-size: 100%;
    }
  }
  nav.prev-next {
    padding-top: none;
    .pager-link {
      .title {
        font-weight: 500;
        font-size: 100%;
      }
      border: none;
      padding: 0;
    }
  }
}




/* expand width on big screens */
@media screen and (min-width: 1600px) {
  div[class*='language-']:hover,
  div[class*='language-']:focus,
  pre.log:hover,
  pre.log:focus {
    min-width: fit-content;
    padding-right: 40px;
    z-index: 1; position: relative; // draw over outline
  }
  table:hover,
  table:focus {
    min-width: fit-content;
  }
  tr {
    z-index: 1; position: relative;  // draw wide rows over outline
  }
  [class*='language-'] pre {
    overflow: hidden !important;
  }
  // expand navbar to cover wide content (see java/development/properties)
  // -> effect: ugly jumping navbar between welcome page and docs pages
  // -> they shall fix that table over there please!
  // .content-body {
  //   min-width: 1164px;
  // }
}

@media (min-width: 1024px) {
  .VPNavBarSearch { padding-left: 12px; }
}

// make sidebar content scroll nicely underneath the logo
@media (min-width: 960px) {
  .VPNavBar .has-sidebar > .title {
    background-color: var(--vp-sidebar-bg-color);
  }
}
