name: AI Review

on:
  pull_request:
    branches: [main]
  merge_group:

concurrency:
  group: pr-sap-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  ai-review:
    name: AI Review
    if: ${{ contains(github.event.pull_request.labels.*.name, 'AI Review') }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: SAP/ai-assisted-github-actions/pr-review@v3
        with:
          aicore-service-key: ${{ secrets.AICORE_SERVICE_KEY }}
          show-model-metadata-footer: true
          model: mistralai--mistral-medium-instruct
          prompt: |
            As an AI bot reviewing documentation pull requests on GitHub, please focus on the following areas to ensure high-quality and effective documentation.
            - Refer to .github/workflows/assets/editor.md and apply its guidelines.
            - Provide inline suggestions and include all proposals that target the same line into one suggestions. Do not create multiple suggestions for the same line or paragraph.
            - Ensure that the tone is appropriate for technical documentation, maintaining a professional and informative style.
            - Verify that the structure of the document is logical and that headings and subheadings are used effectively.
            - Check for consistency in terminology and style throughout the document.
          header-text: |
            # AI-Assisted Review
            This pull request has been reviewed by an AI bot to ensure high-quality documentation. The review focuses on improving the clarity, accuracy, and overall quality of the documentation while adhering to established guidelines.
            