name: AI Review

on:
  pull_request:
    branches: [main]
  merge_group:

concurrency:
  group: pr-sap-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  ai-review:
    name: AI Review
    if: ${{ contains(github.event.pull_request.labels.*.name, 'AI Review') }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: SAP/ai-assisted-github-actions/pr-review@v3
        with:
          aicore-service-key: ${{ secrets.AICORE_SERVICE_KEY }}
          model: anthropic--claude-4-sonnet
          model-parameters: '{"temperature": 0.1}'
          prompt: |
            - As an AI bot reviewing documentation pull requests on GitHub, please focus on the following areas to ensure high-quality and effective documentation:
            - Check for spelling errors in English and provide corrections.
            - Identify and correct grammatical errors and incorrect punctuation.
            - Provide suggestions for improving the clarity and conciseness of the text to make it more understandable.
            - Consider the guidelines that can be found in .github/workflows/assets/editor.md and apply them.
            - Ensure that the tone is appropriate for technical documentation, maintaining a professional and informative style.
            - Verify that the structure of the document is logical and that headings and subheadings are used effectively.
            - Check for consistency in terminology and style throughout the document.
