name: AI Review

on:
  pull_request:
    branches: [main]
  merge_group:

concurrency:
  group: pr-sap-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  ai-review:
    name: AI Review
    if: ${{ contains(github.event.pull_request.labels.*.name, 'AI Review') }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: SAP/ai-assisted-github-actions/pr-review@v3
        with:
          aicore-service-key: ${{ secrets.AICORE_SERVICE_KEY }}
          model: gpt-5-mini
         # model-parameters: '{"temperature": 0.1}'
          prompt: |
            As an AI bot reviewing documentation pull requests on GitHub, please focus on the following areas to ensure high-quality and effective documentation:
            - Use U.S. English spelling and punctuation.
            - Check for spelling errors and provide corrections.
            - Identify and correct grammatical errors and incorrect punctuation.
            - Provide suggestions for improving the clarity and conciseness of the text to make it more understandable. Use the comments to create real suggestions and include all proposals that target the same line into one suggestions. Do not create multiple suggestions for the same line or paragraph.
            - Ensure that the tone is appropriate for technical documentation, maintaining a professional and informative style.
            - Verify that the structure of the document is logical and that headings and subheadings are used effectively.
            - Check for consistency in terminology and style throughout the document.
            - Use active voice instead of passive voice
            - Use present tense and **avoid future tense**!